@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="d-flex flex-lg-row flex-column justify-content-evenly">
  <div id="component-container" class="p-3 mb-4">
    <form method="post" asp-page="Index">
      <div class="mb-3">
        <label class="form-label" asp-for="@Model.ShortUrl.Url"></label>
        <input class="form-control" asp-for="@Model.ShortUrl.Url" />
          <span class="text-danger" asp-validation-for="@Model.ShortUrl.Url"></span>
      </div>
      <div class="mb-3">
        <label class="form-label" asp-for="@Model.ShortUrl.Alias"></label>
        <input class="form-control" asp-for="@Model.ShortUrl.Alias" />
        <span class="text-danger" asp-validation-for="@Model.ShortUrl.Alias"></span>
      </div>
      <button class="btn btn-primary" role="submit">Submit</button>
    </form>
  </div>

  <div id="models-container" class="p-3 overflow-auto">
    @await Component.InvokeAsync("CreatedModels")
  </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
